h1{
    font-size: 60px;
}

h2{
    font-size: 35px
}

label{
    font-size: 20px;
}

input{
    margin: 0 2vh;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

div.container{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
}

.plan-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cancelar-plan-button {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.cancelar-plan-button-verde {
    background-color: #004040;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
}


