.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper h1 {
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.project {
    display: flex;
}

.shop {
    flex: 75%;
}

.box {
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    background: #D9D9D9;
    transition: all .6s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

.box:hover {
    border: none;
    transform: scale(1.01);
}

.box img {
    width: 200px;
    height: 200px;
}


.content {
    padding: 20px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-right {
    margin-right: 5%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.trash {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
    transition: font-size 0.3s ease;
    margin-top: 1%;
}

.trash:hover {
    font-size: 2em;
    /* Tamaño aumentado al pasar el ratón */
    color: rgb(153, 0, 0);
}

.right-bar {
    flex: 25%;
    padding: 20px;
    border-radius: 5px;
    background: #D9D9D9;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: bold;
}

.right-bar hr {
    margin-bottom: 25px;
}

.right-bar p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
}

.right-bar i {
    margin-right: 15px;
}

@media screen and (max-width: 700px) {
    .content h3 {
        margin-bottom: 15px;
    }

    .content h4 {
        margin-bottom: 20px;
    }

    .btn2 {
        display: none;
    }

    .box {
        height: 150px;
    }

    .box img {
        height: 150px;
        width: 150px;
    }
}

@media screen and (max-width: 900px) {
    .project {
        flex-direction: column;
    }

    .right-bar {
        margin-left: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1250px) {
    .wrapper {
        max-width: 95%;
    }
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items:normal;
    margin-bottom: 1vh;
}

.trash-container {
    display: flex;
    justify-content: center;
}

.button-container .form-control {
    max-width: 40px;
    text-align: center;
    display: inline-block;
    margin: 0px 5px;
    background-color: #004040;
    border-radius: 0.25rem;
}

#myTable .form-control {
    width: auto;
    display: inline-block;
}

.cart-qty-plus,
.cart-qty-minus {
    width: 38px;
    height: 38px;
    border: 2px solid #004040;
    color: #004040;
    border-radius: .25rem;
    padding: 0;
    background-color: #D9D9D9;
}

.cart-qty-plus:hover,
.cart-qty-minus:hover {
    background-color: #004040;
    color: #D9D9D9;
}

.fbutton {
    display: flex;
  justify-content: center;
  align-items: center;
}

.fbutton button{
    background-color: #004040;
}

.input-container {
    display: flex;
    width: 100%;
  }
  
  .form-input {
    flex: 1;
  }

@media (max-width: 768px) {
    h3 {
        font-size: 1em;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .content {
        display: inline;
        padding: 1vh 2vh;
        text-align: center;
    }

    .cart-right {
        margin-right: 0;
        display: flex;
    }

    .cart-qty-plus,
    .cart-qty-minus {
    width: 25px;
    height: 25px;
    }


}
