.new-opinion-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.opinion-error-text {
  color: red;
}

.opinion-form-container {
  display: flex;
  flex-direction: column;
}

.opinion-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.opinion-form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.opinion-form-group-title {
  font-size: 1.1em;
  font-weight: 600;
}

.opinion-form-group-score {
  width: 15%;
  background: #eeeeee;
  box-sizing: border-box;
  padding: 0.75em;
  font-size: 1em;
  border-radius: 0.5em;
  border: 0.05em #004040 solid;
}

.opinion-form-group-description {
  font-family: inherit;
  border-radius: 0.5em;
  border: 0.05em #004040 solid;
  background: #eeeeee;
  box-sizing: border-box;
  padding: 1em;
  font-size: 1em;
}

@media (max-width: 767px) {

  .new-opinion-container {
    align-items: center;
  }

  .new-opinion-container .button {
    height: 2.5em;
    width: 12em;
    font-size: 0.8em;
    align-self: center;
  }

  .opinion-form-container {
    width: 100%;
  }

  .opinion-form-group-score {
    width: 20%;
    height: 2em;
    text-align: center;
  }

  .opinion-form-group-description {
    height: 6em;
    padding: 0.5em 1em;
  }

}