.title {
    margin-bottom:  50px;
  }

  .image-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:  600px;
    max-height:  500px;
    object-fit: contain;
    margin-bottom:  20px;
    border:  1px solid #ccc;
    border-radius:  10px;
    box-shadow:  0  2px  8px #004040;
    background-color: #f0f0f0;
    position: relative;
}

.error {
  color: red;
}

@media screen and (max-width:  768px) {
  .image-preview-container {
    max-width: calc(100% -  30px);
    margin:  0 auto;
  }
}
  
  .form {
    margin-top:  50px;
    margin-bottom: 50px;
  }

  .add-product-button {
    display: block;
    width: auto;
    padding:  10px  20px;
    margin:  50px auto;
    background-color: #004040;
    color: white;
    border: none;
    border-radius:  5px;
    cursor: pointer;
    transition: background-color  0.3s ease; 
  }
  
  .add-product-button:hover {
    background-color: #004040;
  }

  .select-container select {
    background-repeat: no-repeat;
    background-position: right  0.7em center;
    background-size:  0.65em auto,  100%;
    background: #D9D9D9;
    color: #004040;
  }

  .error-message {
    position: absolute;
    left:   50%;
    transform: translateX(-50%);
    color: red;
    font-size:   14px;
    bottom: -30px;
    padding:   10px   20px; 
    background-color: transparent; 
    border:  2px solid red; 
    border-radius:   5px; 
    box-shadow:   0   2px   8px rgba(0,   0,   0,   0.2);
}


@media screen and (max-width:   768px) {
    .error-message {
        font-size:   12px;
        bottom: -30px; /* Ajusta el espacio entre el mensaje de error y el formulario para pantallas pequeñas */
        left:   50%; /* Ajusta la posición horizontal al centro para pantallas pequeñas */
        transform: translateX(-50%); /* Centra el mensaje de error horizontalmente para pantallas pequeñas */
        padding:   8px   16px; /* Ajusta el padding para pantallas pequeñas */
    }
}
  
  .main {
    position: relative;
  }