.title {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
    font-weight: bold;
  }
  
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 150px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: normal;
  }
  
  .summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
  }
  
  input[type="button"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  .custom-design-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }

  @media (max-width: 1040px) {
    .main {
      flex-direction: column;
    }

    .form {
      height: auto;
    }

    .canvas-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: 550px) {

    .canvas {
      display: flex;
      width: 250px;
      height: 150px;
      margin-bottom: 50px;
      border-radius: 15px;
      touch-action: none;
    }

    .form-group {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: 300px;
    }

    .summary {
      max-width: 300px;
    }
  }