.opinion {
  display: flex;
  gap: 0.25em;
  flex-direction: column;
  width: 100%;
}

.opinion-score {
  font-weight: bold;
  margin-right: 10px;
}

.opinion-date {
  margin: 0;
  font-size: 0.9em;
  font-weight: 600;
}

.opinion-desc{
  margin: 0;
}
  