.product-details-page {
  margin: 2em 10em;
}

.product-title-container {
  margin-bottom: 2em;
}

.product-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

.product-quantity{
  display: flex;
  flex-direction: row;
  align-items:normal;
  margin-bottom: 1vh;
  justify-content: center;
}

.product-cart-qty-plus,
.product-cart-qty-minus {
    width: 38px;
    height: 38px;
    border: 2px solid #004040;
    color: #004040;
    border-radius: .25rem;
    padding: 0;
    background-color: #D9D9D9;
}

.product-cart-qty-plus:hover,
.product-cart-qty-minus:hover {
    background-color: #004040;
    color: #D9D9D9;
}

.product-cart-qty-plus,
.product-cart-qty-minus {
width: 25px;
height: 25px;
}

.product-quantity .product-form-control{
  max-width: 40px;
  text-align: center;
  display: inline-block;
  margin: 0px 5px;
  background-color: #004040;
  border-radius: 0.25rem;
}

#myTable .product-form-control {
  width: auto;
  display: inline-block;
}

.product-summary {
  border: none !important;
  padding: 0.25em 2em;
  box-sizing: border-box;
}

.left-product-container {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-right: 3em;
}

.right-product-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.product-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 26em;
  background: #D9D9D9;
  border-radius: 0.8em;
}

.product-img-container .product-image {
  width: 100%;
  object-fit: contain;
  border-radius: 0.8em;
}

.product-info-container {
  display: grid;
}

.product-info-name {
  margin: 0;
  font-size: 2.2em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-info-owner {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1.2em;
}

.product-info-description {
  margin-bottom: 1.2em;
}

.product-info-owner .user-review-text {
  font-size: 1.1em;
}

.product-info-description-label {
  margin: 0 0 0.6em 0;
}

.product-info-description-text {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.product-info-stock {
  margin: 0 0 0.5em 0;
  font-size: 1.2em;
  font-weight: 600;
}

.product-info-price {
  margin: 0 0 0.2em 0;
  font-size: 2em;
}

.product-info-container .large-btn.button {
  justify-self: center;
}

.related-products .title-bold.text {
  margin-bottom: 1em;
}

.related-products .main-page-gr.grid {
  margin: 0;
  width: 100%;
}

@media (max-width: 768px) {

  .product-details-page {
    margin: 1.5em 1.5em;
  }

  .product-title-container {
    font-size: 0.8em;
  }

  .product-container {
    flex-direction: column;
    justify-content: center;
  }

  .left-product-container {
    width: 100%;
    padding: 0;
  }

  .right-product-container {
    width: 100%;
  }

  .product-img-container {
    height: 18em;
  }

  .product-info-container {
    margin-top: 1em;
    padding: 0;
  }

  .product-info-name {
    font-size: 1.25em;
    -webkit-line-clamp: 4;
  }

  .product-info-owner .profile-icon-image {
    width: 1.5em;
    height: 1.5em;
  }

  .product-info-owner .profile-icon-name {
    font-size: 1em;
  }

  .product-info-owner .profile-icon-star {
    width: 1.2em;
  }

  .product-info-owner .profile-icon-score {
    font-size: 1em;
  }

  .product-info-description-label {
    font-size: 1em;
  }

  .product-info-description-text {
    -webkit-line-clamp: 20;
  }

  .product-info-stock {
    font-size: 1em;
  }

  .product-info-price {
    font-size: 1.8em;
  }

  .right-product-container .large-btn.button {
    width: 100%;
    height: 2.2em;
  }

  .right-product-container .large-btn.button .btn-text {
    font-size: 0.9em;
  }

  .related-products .text {
    font-size: 1.5em;
  }

  .related-products .grid {
    padding: 0;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {

  .product-details-page {
    margin: 1.5em 3.5em;
  }

  .related-products .grid {
    padding: 0;
  }

}