.title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5em;
}

.product-summary {
  border: none !important;
  padding: 0.25em 2em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 38%;
  border-radius: 0.8em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.section-title-container {
  margin: 2em 5em;
}

.product-detail-label {
  justify-content: center;
  font-weight: bold;
  margin: 0.6em 0em;
  margin-block-end: 0;
}

.product-img-container {
  display: flex;
  flex-direction: column;
  width: 38%;
  height: 26em;
  border-radius: 0.8em;
  padding: 0em 1em;
}

.product-img-container img {
  width: 100%;
  max-width: 100%;
  height: 28em;
  border-radius: 0.8em;
  object-fit: contain;
  box-sizing: border-box;
  background: #D9D9D9;
}

@media screen and (max-width: 768px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }

  .section-title-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2em 0em;
  }

  .product-img-container {
    width: 80%;
    height: 20em;
  }

  .product-img-container img {
    height: 20em;
    max-height: 20em;
  }

  .product-summary {
    width: 80%;
    margin-bottom: 1em;
  }
}