.profile-title-container, .artist-title-container {
  margin: 2em 10em;
}

.user-container {
  display: flex;
  justify-content: space-around;
}

.left-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  justify-content: center;
  width: 50%;
}

.right-user-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.right-user-container .user-info-container .user-header {
  margin-bottom: 0.5em;
}

.right-user-container .user-info-container .user-header .user-name-container {
  width: 100%;
}

.right-user-container .user-info-container .user-header .user-name-container .user-name {
  width: 100%;
  margin: 0;
  font-size: 2.2em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow-wrap: anywhere;
}

.right-user-container .user-info-container .user-header .user-header-actions {
  display: flex;
  gap: 2em;
  align-items: center;
}

.right-user-container .user-info-container .user-header .user-header-actions .follows-info-section {
  display: flex;
  align-items: center;
  gap: 1em;
}

.right-user-container .user-info-container .user-header .user-header-actions .follows-info-section .follows-info {
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
}
.right-user-container .user-info-container .user-header .user-header-actions .follows-info-section .follows-info:hover {
  text-decoration: underline;
}

.right-user-container .user-info-container .user-header .user-header-actions .edit-profile-button-container .edit-profile-btn.button {
  background: transparent;
  margin: 0;
  padding: 0;
  color: #00881D;
}
.right-user-container .user-info-container .user-header .user-header-actions .edit-profile-button-container .edit-profile-btn.button:hover {
  text-decoration: underline;
}
.right-user-container .user-info-container .user-header .user-header-actions .edit-profile-button-container .edit-profile-btn.button:focus {
  outline: none;
}

.right-user-container .user-info-container .user-header .user-header-actions .edit-profile-button-container .edit-profile-btn .edit-profile-icon {
  padding: 0.2em 0.2em 0 0;
}

.right-user-container .user-info-container .user-body .user-review {
  display: flex;
  gap: 0.5em;
  margin: 0;
  margin-top: 0.2em;
}

.right-user-container .user-info-container .user-body .user-review .user-review-stars {
  display: flex;
}

.right-user-container .user-info-container .user-body .user-review .user-review-text {
  font-size: 1em;
  font-weight: 700;
  margin: 0;
}

.right-user-container .user-info-container .user-body .user-role-container,
.right-user-container .user-info-container .user-body .user-plan-container {
  display: flex;
  margin: 0.6em 0 1em;
}

.right-user-container .user-info-container .user-body .user-role-container .roles-label,
.right-user-container .user-info-container .user-body .user-plan-container .plan-label {
  background: #C3E0FF;
  border: 2px solid #004040;
  border-radius: 0.5em 0 0 0.5em;
  padding: 0.2em 0.8em;
  font-weight: 700;
  text-transform: uppercase;
}

.right-user-container .user-info-container .user-body .user-role-container .roles,
.right-user-container .user-info-container .user-body .user-plan-container .plans {
  display: flex;
}

.right-user-container .user-info-container .user-body .user-role-container .roles .user-role,
.right-user-container .user-info-container .user-body .user-plan-container .plans .user-plan {
  background: #B6FCCE;
  font-size: 1em;
  font-weight: 700;
  padding: 0.2em 0.8em;
  border: 2px #004040 solid;
  border-left: 0;
}
.right-user-container .user-info-container .user-body .user-role-container .roles .user-role:last-of-type,
.right-user-container .user-info-container .user-body .user-plan-container .plans .user-plan:last-of-type {
  border-radius: 0 0.7em 0.7em 0;
}

.user-img-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: auto;
  border-radius: 50%;
  padding: 0em 1em;
  overflow: hidden;
}

.user-img-container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  object-fit: contain;
  background: #D9D9D9;
}

.right-user-container .user-info-container {
  padding: 0 5em 0 0;
}

.right-user-container .user-info-container .user-body .user-contact-container {
  margin-bottom: 1em;
}

.right-user-container .user-info-container .user-body .user-contact-container .user-contact {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow-wrap: anywhere;
}

.right-user-container .user-info-container .user-body .user-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.reviews-section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0 10em;
  margin-bottom: 5em;
}

.user-reviews {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
}

.user-products-section {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin: 5em 10em;
}

.user-products-section .grid {
  padding: 0;
  width: 100%;
  margin: 0;
}

.report-user {
  display: flex;
}

.post-detail-comment{
  background-color: #e2e1e1;
  border-radius: 0.8em;
  
}

@media (max-width: 767px) {

  .artist-title-container, .profile-title-container {
    margin: 1.5em 1.5em;
    font-size: 0.8em;
  }

  .user-container {
    flex-direction: column;
    justify-content: center;
    margin: 0 1.5em;
  }

  .left-user-container {
    width: 100%;
  }

  .right-user-container {
    width: 100%;
  }

  .right-user-container .user-info-container {
    margin-top: 1em;
    padding: 0;
  }

  .right-user-container .user-info-container .user-header .user-name-container .user-name {
    font-size: 1.25em;
  }

  .right-user-container .user-info-container .user-body .user-button-wrapper {
    gap: 10px;
  }

  .right-user-container .user-info-container .user-body .user-button-wrapper .user-button {
    width: 100%;
  }

  .right-user-container .user-info-container .user-body .user-button-wrapper .user-button .plain-btn.button.green {
    width: 100%;
  }

  .right-user-container .user-info-container .user-body .user-button-wrapper .medium-btn.button {
    width: 100%;
  }

  .right-user-container .user-info-container .user-body .user-button-wrapper .transparent-btn.button {
    width: calc(50% - 5px);
  }

  .right-user-container .user-info-container .user-body .user-review .user-review-text {
    font-size: 0.8em;
  }

  .right-user-container .user-info-container .user-body .user-review .user-review-stars img {
    width: 1.25em;
  }

  .right-user-container .user-info-container .user-body .user-role-container .roles .user-role,
  .right-user-container .user-info-container .user-body .user-plan-container .plans .user-plan {
    font-size: 0.8em;
  }

  .right-user-container .user-info-container .user-body .user-contact-container .user-contact {
    font-size: 0.9em;
  }

  .right-user-container .user-info-container .user-header .user-header-actions {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .right-user-container .user-info-container .user-header .user-header-actions .follows-info-section .follows-info {
    font-size: 1em;
  }

  .right-user-container .user-info-container .user-body .user-role-container .roles-label,
  .right-user-container .user-info-container .user-body .user-plan-container .plan-label {
    font-size: 0.8em;
  }

  .user-products-section {
    margin: 1.5em 1.5em;
  }

  .user-products-section .text {
    font-size: 1.5em;
  }

  .user-products-section .grid {
    padding: 0;
  }

  .reviews-section {
    margin: 0 1.5em 2.5em;
  }

  .reviews-section .text {
    font-size: 1.5em;
  }

  .user-reviews .paginator .page-counter .page-selector {
    font-size: 0.9em;
  }

  .user-reviews .paginator .page-counter .actual-page {
    font-size: 0.9em;
  }

  .report-user .report-user-container .report-button-container .report-btn.button img {
    width: 1em;
    padding: 0 0.2em 0 0;
  }

  .report-user .report-user-container .report-button-container .report-btn.button {
    font-size: 0.9em;
  }

}

@media (max-width: 320px) {

  .right-user-container .user-info-container .user-body .user-button-wrapper {
    gap: 0.3em;
  }

}

@media (min-width: 767px) and (max-width: 1024px) {

  .artist-title-container, .profile-title-container {
    margin: 1.5em 6.5em;
  }

  .user-products-section {
    margin: 1.5em 6.5em;
  }

  .user-products-section .grid {
    padding: 0;
  }

  .reviews-section {
    margin: 0 6.5em 2.5em;
  }

  .report-user {
    display: flex;
    justify-content: center;
  }

  .right-user-container .user-info-container .user-header .user-header-actions .follows-info-section .follows-info {
    font-size: 1em;
  }

  .report-user .report-user-container .report-button-container .report-btn.button img {
    width: 1em;
    padding: 0 0.2em 0 0;
  }

  .report-user .report-user-container .report-button-container .report-btn.button {
    font-size: 0.9em;
  }

}