.profile-title-container, .artist-title-container {
  margin: 2em 10em;
}

.user-container {
  display: flex;
  justify-content: space-around;
}

.left-user-container {
  display: flex;
  justify-content: center;
  width: 50%;
}

.right-user-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.user-img-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: auto;
  border-radius: 50%;
  padding: 0em 1em;
  overflow: hidden;
}

.user-img-container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  object-fit: contain;
  background: #D9D9D9;
}

.user-info-container {
  padding: 0 5em 0 0;
}

.user-name {
  margin: 0;
  font-size: 2.2em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.user-review {
  display: flex;
  gap: 0.5em;
  margin: 0;
  margin-top: 0.2em;
}

.user-review-text {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
}

.user-role-container {
  display: flex;
  gap: 0.5em;
  margin-top: 0.6em;
}

.user-role {
  background: #B6FCCE;
  font-size: 1em;
  font-weight: 700;
  padding: 0.2em 0.8em;
  border-radius: 0.7em;
  border: 0.15em #004040 solid;
}

.user-contact-container {
  margin-bottom: 2.5em;
}

.user-contact {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.user-button-wrapper {
  display: flex;
  gap: 1em;
}

.reviews-section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0 10em;
  margin-bottom: 5em;
}

.user-reviews {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
}

.user-products-section {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin: 5em 10em;
}