.title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
  margin: 0 auto; 
  text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 50px;
}

.user-img-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.8em;
  padding: 0em 1em; 
  align-items: center;
  margin-top: 1vh;

  
}

.user-img-container img {
  width: 50%;
  border-radius: 50%;
  object-fit: contain;
  box-sizing: border-box;
  background: #D9D9D9;
  @media (max-width: 768px) {
    margin-bottom: 1em; 
    width: 80%;
  }
}

.profile-summary {
  border: none !important;
  padding: 0.25em 2em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 3px;
  width: 50%;
  margin: 0 auto; 
  text-align: center;

  @media (max-width: 768px) {
    width: 80%; 
  }
}

.opinions {
  border: none !important;
  padding: 0.25em 2em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 3px;
  width: 50%;
  margin: 0 auto; 
  text-align: center;

  @media (max-width: 768px) {
    width: 80%; 
  }
}

.title-detalle {
  justify-content: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.main-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-role-container {
  display: flex;
  justify-content: center;
  background: #D9D9D9;
  padding: 0.5em;
  border-radius: 0.8em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.user-role {
  font-weight: bold;
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  text-align: center;
}

.section-title-container {
  align-self: center;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
    gap: 5em;
  }

  .img {
    margin-left: 0;
    margin-bottom: 5em;
    height: 10em;
  }
}