<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación de correo electrónico</title>
</head>

<body>
    <h1>Verificación de correo electrónico</h1>
    <p>Hola {{ username }},</p>
    <p>Gracias por registrarte en nuestro sitio. Para completar el proceso de registro, por favor haz clic en el siguiente enlace para verificar tu dirección de correo electrónico:</p>
    <p><a href="{{ verify_url }}">Click aqui</a></p>
    <p>Si no has solicitado este registro, puedes ignorar este correo electrónico.</p>
    <p>Gracias,</p>
    <p>El equipo de SHAR3D</p>
</body>

</html>