.window {
    display: flex;
    flex-direction: column;
    scrollbar-width: thin; /* "auto" o "thin" */
    scrollbar-color: #888 #f1f1f1; /* [thumb] [track] */
    width: 700px;
    height: 550px; /* Define un alto fijo para el contenedor */
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    
  }


  .send-message {
    bottom: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #ccc; /* Separador entre el chat y el formulario */
  }

  .input-message[type="text"] {
    flex-grow: 1; /* Hace que el input ocupe la mayor parte del espacio */
    margin-right: 10px; /* Espacio entre el input y el botón */
    padding: 8px 10px;
    border-radius: 20px; /* Bordes redondeados para el input */
    border: 1px solid #ccc; /* Borde sutil para el input */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra interna sutil */
  }

  .button-send {
    padding: 8px 15px;
    background-color: #004040; /* Un color de fondo vibrante para el botón */
    color: white; /* Texto blanco para el botón */
    border: none;
    border-radius: 20px; /* Bordes redondeados para el botón */
    cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre el botón */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra externa para darle profundidad */
  }

  .button-send:hover {
    background-color: #002D2D; /* Color más oscuro al pasar el mouse para feedback */
  }


  .back-button-container {
    justify-content: center;
    position: relative; /* Fija el contenedor en la pantalla */
    top: 100; /* Alinea el contenedor en la parte superior */
    left: 0; /* Alinea el contenedor a la izquierda */
    z-index: 1000; /* Asegura que el botón esté sobre otros elementos */
    
  }
  
  .back-button {
    justify-content: center;
    background-color: #004040; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 10px; /* Agrega un poco de espacio alrededor del botón */
    width: 50%;
  }
  
  .left-arrow {
    margin-right: 5px;
    font-size: 20px; /* Ajusta el tamaño de la flecha */
  }

  /* Estiliza el scrollbar completo */
.window::-webkit-scrollbar {
  width: 8px; /* Controla el ancho del scrollbar */
}

/* Estiliza el fondo del track del scrollbar */
.window::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cambia al color de fondo deseado */
}

/* Estiliza el thumb del scrollbar (la parte que se mueve) */
.window::-webkit-scrollbar-thumb {
  background: #888; /* Cambia al color deseado */
}

/* Cambia el color del thumb al pasar el mouse */
.window::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cambia al color deseado */
}


.messages-container {
  height: 100%;
  flex: 1; /* Hace que ocupe todo el espacio disponible */
  overflow-y: auto; /* Permite scroll en los mensajes */
}

.title{
  align-items: center;
}

.chat-page {
  display: flex;
  flex-direction: row; 
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.sidebar {
  border-right: 1px solid #ccc; /* Separa visualmente la sidebar del chat */
  display: flex;
  flex-direction: column;
  width: 400px;
}

.user-list {
  list-style: none;
  padding: 0;
  margin-top: 20px; /* Ajusta según sea necesario */
  overflow-y: auto; /* Permite scroll si hay muchos usuarios */
}

.user-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee; /* Separa visualmente los usuarios */
}

.user-list li:hover {
  background-color: #f0f0f0; /* Feedback visual al pasar el mouse */
}

.chat{
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 25%;
}

.contenedor-padre {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* O el alto que desees */
}

.mis-chats {
  text-align: center;
}

/* Estilos para dispositivos móviles */
@media (max-width: 1300px) {

  .chat-page {
    overflow: hidden;
    display: flex;
    flex-direction: row; 
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }

  .title{
    display: none;
  }

  .messages-container, .user-list {
    overflow-y: auto; /* Habilita el desplazamiento vertical */
     /* Ajusta esto según el diseño de tu contenedor */
  }

  .sidebar {
    background-color: #F1F7ED;
    z-index: 2000;
    width: 100%;
    position: fixed;
    height: 100vh;
    left: -100%; /* Escondido inicialmente */
    transition: left 0.3s;
  }

  .sidebar.open {
    left: 0; /* Muestra el sidebar cuando tenga la clase .open */
    overflow: hidden;
    height: calc(100vh - 115px);
  }

  .window{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 115px);
    
  }

  .chat {
    flex: 1;
    height: 100vh;
    width: 100vw; /* Ajusta el ancho al 100% del viewport */ /* Ajusta la altura al 100% del viewport menos la altura de cualquier cabecera o pie de página */
    margin: 0; /* Elimina cualquier margen externo */
    border: none; /* Si deseas eliminar el borde en móviles */
    margin-left: 0; /* Elimina el margen izquierdo si es que hay alguno debido al sidebar en modo escritorio */
    overflow: hidden;
    
  }

  /* Si tienes un header o un form al pie, quizás también quieras ajustar su posicionamiento */
  .send-message {
    bottom: 0;
    left: 0;
    height: 40px;
    margin-bottom: 10px;
    right: 10px;
  }


  .input-message[type="text"] {
    flex-grow: 1; /* Hace que el input ocupe la mayor parte del espacio */
    right: 10px; /* Espacio entre el input y el botón */
    padding: 8px 10px;
    border-radius: 20px; /* Bordes redondeados para el input */
    border: 1px solid #ccc; /* Borde sutil para el input */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra interna sutil */
  }
  
}

.sidebar.open .toggle-sidebar {
  right: 0; /* Ajusta para alinear con el borde del sidebar abierto */

}

.toggle-sidebar {
  z-index: 2000;
  position: absolute;
  top: 20px; /* Ajusta según necesites */
  right: -40px; /* Ajusta para que se sitúe en el borde del sidebar */
  cursor: pointer;
  background-color: #999999; /* Ajusta según el estilo de tu aplicación */
  border: none;
  border-radius: 10%;
  width: 30px; /* Ajusta según el tamaño deseado */
  height: 30px; /* Ajusta según el tamaño deseado */
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-scroll {
  overflow: hidden;
  height: 100vh; /* Bloquea el desplazamiento vertical */
  width: 100vw; /* Bloquea el desplazamiento horizontal, si es necesario */
  position: fixed; /* Evita que el contenido se mueva */
}