<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmación de pedido en Shar3d</title>
</head>
<body>
    <header>
        <h1>Confirmación de tu pedido en Shar3d</h1>
    </header>

    <p>Buenas {{ order.buyer.username }},</p>
    <p>Tu pedido ha sido realizado con éxito.</p>

    <p>Información del pedido:</p>
    <ul>
        <li>ID de pedido: {{ order.id }}</li>
        <li>Precio total: {{ order.price }}€</li>
        <li>Estado: {{ order.get_status_display }}</li>
        <li>Dirección: {{ order.address }}</li>
        <li>Código postal: {{ order.postal_code }}</li>
        <li>Ciudad: {{ order.city }}</li>
        <li>Fecha de compra: {{ order.date }}</li>
    </ul>

    <p>Productos:</p>
    <ul>
        {% for order_product in order_products %}
            <li>{{ order_product.product.name }} - Cantidad: {{ order_product.quantity }}</li>
        {% endfor %}
    </ul>
</body>
</html>
