.grid {
    color: #004040;
    margin: 0em 10em;
    
}

.main-page-gr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width:  767px) {
    .grid {
        overflow-x: auto; 
        white-space: nowrap;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .main-page-gr {
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 1em;
        padding: 0em 1em;
        box-sizing: border-box;
    }
    .main-page-gr > * {
        margin: 0;
        padding: 0;
        width: auto;
    }
}