.grid {
    color: #004040;
}

.main-page-gr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0em 10em;
}

.unlimited-gr {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    margin: 3em 10em;
    flex-wrap: wrap;
}

.products-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.products-row {
    display: flex;
    flex-direction: row;
    gap: 1.25em;
}

.empty-grid-text {
    align-self: flex-start;
}

@media (max-width: 1024px) {

    .grid {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .main-page-gr {
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 1em;
        padding: 0em 1.2em;
        box-sizing: border-box;
        margin-bottom: 1.5em;
    }
    .main-page-gr > * {
        margin: 0;
        padding: 0;
        width: auto;
    }
    .unlimited-gr {
        margin: 1.5em 0em;
    }

}

@media (min-width: 767px) and (max-width: 1024px) {
    .grid::-webkit-scrollbar {
        height: 0.25em;
    }
    
    .grid::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    .grid::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    .grid::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

@media (min-width: 1025px) and (max-width: 1450px) {
    .main-page-gr {
        overflow-x: auto;
        overflow-y: hidden;
        width: 80%;
        padding: 0;
        margin: 0;
        align-self: center;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 1em;
        box-sizing: border-box;
        margin-bottom: 1.5em;
    }

    .unlimited-gr {
        margin: 3em 5em;
    }

    .products-row {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
    .products-row .product {
        width: 10em;
        height: 12em;
        border-radius: 0.5em;
    }
    .products-row .product img {
        height: 8.75em;
        border-radius: 0.5em 0.5em 0em 0em;
    }
    .products-row .product-description {
        padding: 0em 0.5em;
    }
    .products-row .product p {
        font-size: 0.8em;
    }
    .products-row .price {
        font-size: 0.8em;
    }

    .grid::-webkit-scrollbar {
        height: 0.5em;
    }
    
    .grid::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    .grid::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    .grid::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

@media screen and (min-height: 1600px) {
    .grid {
        overflow-x: auto;
        overflow-y: hidden;
        width: 80%;
        padding: 0;
        margin: 0;
        align-self: center;
    }

    .main-page-gr {
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 1em;
        box-sizing: border-box;
        margin-bottom: 1.5em;
    }

    .grid::-webkit-scrollbar {
        height: 0.5em;
    }
    
    .grid::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    .grid::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    .grid::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}