.artist {
    display: flex;
    flex-direction: column;
    width: 14em;
    height: 17em;
    border-radius: 0.8em;
    cursor: pointer;
    transition: 0.3s;
}
.artist:hover {
    background: #E0EEC6;
    scale: 1.05;
}

.image {
    width: 100%;
    height: 13.3em;
    border-radius: 50%;
    object-fit: cover;
}

.artist-description {
    box-sizing: border-box;
    padding: 0em 0.8em;
}

.artist p {
    margin: 0;
    font-weight: 700;
    font-size: 1.3em;
    color: #004040;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.star {
    width: 1.2em;
}

@media screen and (max-width: 1024px) {
    .artist {
        width: 10em;
        height: 13em;
    }
    .image {
        height: 10em;
        border-radius: 50%;
    }
    .artist-description {
        padding: 0em 0.5em;
    }
    .artist p {
        font-size: 1em;
    }
    .star {
        width: 1em;
    }
}

@media screen and (min-height: 1600px) {
    .artist {
        width: 35em;
        height: 40em;
    }
    .image {
        height: 35em;
        border-radius: 50%;
    }
    .artist p {
        font-size: 3em;
    }
    .star {
        width: 3em;
    }
}