.artist {
    display: flex;
    flex-direction: column;
    width: 14em;
    height: 17em;
    border-radius: 0.8em;
    cursor: pointer;
    transition: 0.3s;
}
.artist:hover {
    background: #E0EEC6;
}

.image {
    width: 100%;
    height: 12em;
    border-radius: 50%;
}

.artist-description {
    box-sizing: border-box;
    padding: 0em 0.8em;
}

.artist p {
    margin: 0;
    font-weight: 700;
    font-size: 1.3em;
    color: #004040;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.star {
    width: 1.2em;
}