/* Estilos actualizados para el feed de Instagram */

.post-container {
  display: flex; /* Cambiar de grid a flex */
  flex-direction: column; /* Mostrar los elementos de forma vertical */
  align-items: center; /* Centrar los elementos horizontalmente */
  gap: 20px; /* Espacio entre elementos */
  margin: 0 auto;
  padding: 20px;
  max-width: 500px; /* Ajuste del ancho máximo del contenedor */
  
}

.post-item {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  padding-top: 0; /* Remove the top padding */
}


.post-image-container {
  width: 100%;
  margin-top: 0;
}


.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-details {
  padding: 10px;
}

.post-title {
  font-size: 1.2rem;
  margin: 10px 0;
  text-align: center; /* Centrar el texto */
}

.post-description {
  margin-bottom: 10px;
  text-align: center; /* Centrar el texto */
}

.post-users {
  font-style: italic;
  text-align: center; /* Centrar el texto */
}

.modal {
  /* Estilos de modal existentes */
}

.modal-content {
  /* Estilos de modal-content existentes */
}

.modal-image {
  /* Estilos de modal-image existentes */
}

.titulo-pagina {
  margin-left: 0; /* Ajuste del margen */
}

.introduccion {
  display: flex;
  align-items: center;
  justify-content: center; /* Centrar el contenido horizontalmente */
  margin-bottom: 20px; /* Ajuste del margen */
  flex-direction: column; /* Mostrar los elementos de forma vertical */

}

.boton-derecha {
  /* Estilos para el botón de añadir post */
}
