.convert-to-stl-page {
    margin: 2em 10em;
}

.convert-to-stl-container .convert-to-stl-page-title-container {
    margin-bottom: 1em;
}

.convert-to-stl-container .convert-to-stl-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 1em;
}

.convert-to-stl-container .convert-to-stl-form-container .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.convert-to-stl-container .convert-to-stl-form-container .form-group .file-name {
    width: 100%;
    max-height: 2em;
    margin: 0;
    background: #D9D9D9;
    border: 1px solid #004040;
    border-bottom: none;
    border-radius: 0.5em 0.5em 0 0;
    padding: 0.2em 1em;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow-wrap: anywhere;
}

.convert-to-stl-container .convert-to-stl-form-container .form-group .upload-file-button {
    width: 100%;
    background: #004040;
    color: #FFF;
    border-radius: 1.2em;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    padding: 0.4em 0;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;
}
.convert-to-stl-container .convert-to-stl-form-container .form-group .upload-file-button:hover {
    background: #E0EEC6;
    border: 1px solid #004040;
    color: #004040;
}
.convert-to-stl-container .convert-to-stl-form-container .form-group .upload-file-button.loaded {
    border-radius: 0 0 0.5em 0.5em;
}

.convert-to-stl-container .convert-to-stl-form-container .form-group .form-input {
    width: 100%;
    margin: 0;
    padding: 0.4em 1em;
    box-sizing: border-box;
    background: #D9D9D9;
    border-radius: 1em;
    color: #004040;
    border: 1px solid #004040;
}
.convert-to-stl-container .convert-to-stl-form-container .form-group .form-input.upload {
    display: none;
}

.convert-to-stl-container .convert-to-stl-form-container .form-group .error {
    font-size: 1em;
    color: #FF0000;
}

.convert-to-stl-container .convert-to-stl-form-container .button-wrapper {
    display: flex;
    justify-content: center;
}

.convert-to-stl-container .convert-to-stl-form-container .button-wrapper .convert-to-stl-btn.button {
    width: 100%;
    height: 2.5em;
    padding: 0.8em;
    border-radius: 1em;
    border: 2px #004040 solid;
    color: #004040;
    font-size: 1em;
    font-weight: 700;
    transition: 0.3s;
    background: transparent;
}
.convert-to-stl-container .convert-to-stl-form-container .button-wrapper .convert-to-stl-btn.button:hover {
    background: #E0EEC6;
}


@media screen and (max-width: 1024px) {
    .convert-to-stl-page {
        margin: 1.5em;
    }

    .convert-to-stl-container .convert-to-stl-page-title-container {
        font-size: 0.8em;
    }

    .convert-to-stl-container .convert-to-stl-form-container .button-wrapper {
        flex-direction: column;
        gap: 0.5em;
    }

    .convert-to-stl-container .convert-to-stl-form-container .button-wrapper .convert-to-stl-btn.button {
        width: 50%;
    }
}