.profile-icon-container {
    display: flex;
    align-items: center;
    gap: 0.6em;
    height: 2em;
}

.profile-icon-image {
    cursor: pointer;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    object-fit: cover;
    transition: 0.3s;
}
.profile-icon-image:hover {
    scale: 1.1;
}

.profile-icon-name {
    margin: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2em;
    transition: 0.3s;
}
.profile-icon-name:hover {
    text-decoration: underline;
}

.profile-icon-score-container {
    display: flex;
    gap: 0.3em;
    align-items: center;
    padding-top: 0.2em;
}

.profile-icon-star {
    width: 1.4em;
}

.profile-icon-score {
    margin: 0;
    font-size: 0.9em;
    font-weight: 600;
}