.admin-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0.5em 10em;
}

.admin-users-button {
    display: flex;
    justify-content: center;
    width: 15em;
    background-color: #004040;
    height: 2.5em;
    border-radius: 0.6em;
    color: #D9D9D9;
    font-size: 0.8em;
    font-weight: 700;
    transition: 0.3s;
    align-items: center;
    padding: 1.5em 0;
}

.admin-users-button:hover {
    background-color: #E0EEC6;
    color: #004040;
    border: 0.1em #004040 solid;
    scale: 1.05;
}

@media screen and (max-width: 1025px) {
    .admin-users-button {
        margin-bottom: 20px;
    }

    .admin-container {
        margin: 0.5em 6.5em;
    }
}

@media screen and (max-width: 768px) {
    .admin-container {
        margin: 0 1.2em;
    }
}