.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #004040;
    height: 15em;
    box-sizing: border-box;
    padding: 3em 8em;
    color: #D9D9D9;
    margin-top: auto;
    margin-top: 1vh;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.logo-footer {
    width: 16em;
    cursor: pointer;
    transition: 0.3s;
}
.logo-footer:hover {
    scale: 1.1;
}

.footer p {
    margin: 0;
}

.footer-section-title {
    font-weight: 700;
    margin-bottom: 1em;
}

.footer-section-element a {
    font-weight: 300;
    color: #D9D9D9;
    transition: 0.3s;
}
.footer-section-element a:hover {
    text-decoration: underline;
    color: #D9D9D9;
}

.social img {
    width: 2.2em;
    cursor: pointer;
    transition: 0.3s;
}
.social img:hover {
    scale: 1.1;
}

@media screen and (max-width: 1024px) {
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 3em 2em;
        box-sizing: border-box;
        gap: 2em;
        height: auto;
    }
    .footer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social {
        display: flex;
        gap: 0.75em;
    }
    .social img {
        width: 2.5em;
    }
    .footer-section-title {
        font-size: 1.2em;
    }
    .footer-section-element {
        font-size: 1.2em;
    }
}

@media screen and (min-height: 1600px) {
    .footer {
        height: 30em;
    }
    .logo-footer {
        width: 35em;
    }
    .social img {
        width: 6em;
    }
    .footer-section-title {
        font-size: 3em;
    }
    .footer-section-element {
        font-size: 3em;
    }
}
