.paginator {
    display: flex;
    align-items: center;
    gap: 1em;
}

.paginator-control {
    width: 1em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #004040;
    border: 0.1em #004040 solid;
    transition: 0.3s;
}
.paginator-control:hover {
    background: #009962;
    border: 0.1em #004040 solid;
}

.page-counter {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.page-selector {
    width: 1.75em;
    height: 1.25em;
    border-radius: 0.25em;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    background: #D9D9D9;
    color: #004040;
    border-color: #004040;
}
.page-selector::-webkit-inner-spin-button,
.page-selector::-webkit-outer-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

.actual-page {
    font-weight: 600;
}