.button {
    margin: 6px 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.button p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-btn {
    width: 8em;
    background-color: #D9D9D9;
    height: 2.5em;
    padding: 0.8em;
    border-radius: 0.6em;
    color: #004040;
    font-size: 0.8em;
    font-weight: 600;
    transition: 0.3s;
}
.header-btn:hover {
    background-color: #E0EEC6;
    scale: 1.05;
    border: #E0EEC6;
}

.medium-btn {
    width: 10em;
    background-color: #004040;
    height: 2.5em;
    padding: 0.8em;
    border-radius: 0.6em;
    color: #D9D9D9;
    font-size: 0.8em;
    font-weight: 700;
    transition: 0.3s;
}
.medium-btn:hover {
    background-color: #E0EEC6;
    color: #004040;
    border: 0.1em #004040 solid;
    scale: 1.05;
}

.large-btn {
    width: 15em;
    background-color: #004040;
    height: 2.5em;
    padding: 0.8em;
    border-radius: 0.6em;
    color: #D9D9D9;
    font-size: 0.8em;
    font-weight: 700;
    transition: 0.3s;
}
.large-btn:hover {
    background-color: #E0EEC6;
    color: #004040;
    border: 0.1em #004040 solid;
    scale: 1.05;
}

.transparent-btn {
    width: 10em;
    height: 2.5em;
    padding: 0.8em;
    border-radius: 0.6em;
    border: 0.15em #004040 solid;
    color: #004040;
    font-size: 0.8em;
    font-weight: 700;
    transition: 0.3s;
}
.transparent-btn:hover {
    background-color: #E0EEC6;
    scale: 1.05;
}

@media screen and (max-width: 767px) {

    .header-btn {
        width: 10em;
        font-size: 1em;
    }
    .large-btn {
        width: 17em;
        font-size: 1.1em;
    }
    
}