.button {
    margin: 6px 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.header-btn {
    width: 8em;
    background-color: #D9D9D9;
    height: 2.5em;
    padding: 12px;
    border-radius: 0.6em;
    color: #004040;
    font-size: 0.8em;
    font-weight: 600;
    transition: 0.3s;
}
.header-btn:hover {
    background-color: #E0EEC6;
    scale: 1.05;
}
