.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #004040;
    box-sizing: border-box;
    padding: 0.25em 8%;
}

.logo {
    width: 12em;
    cursor: pointer;
    transition: 0.3s;
}
.logo:hover {
    scale: 1.1;
}

.search-box {
    width: 40%;
    display: flex;
    align-items: center;
    background: #D9D9D9;
    box-sizing: border-box;
    padding: 1em 1em;
    border-radius: 0.6em;
    margin-top: 1em;
    margin-bottom: 1em;
    max-height: 2.2em;
}
.search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #004040;
    font-size: 0.8em;
    font-weight: normal;
}
.search-box input::placeholder {
    color: #5C7A89;
}

.search-icon {
    cursor: pointer;
}

.input-text {
    width: 100%;
}

.cart-icon {
    width: 1.75em;
    cursor: pointer;
    transition: 0.3s;
}
.cart-icon:hover {
    scale: 1.2;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16em;
}

.icon-cart {
	width: 40px;
	height: 40px;
	stroke: #D9D9D9;
}

.icon-cart:hover {
	cursor: pointer;
}

.container-icon {
	position: relative;
}

.count-products {
	position: absolute;
	top: 55%;
	right: 0;

	background-color: #000;
	color: #fff;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 12px;
}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.cart-img {
	max-width: 100%;
  	max-height: 100%;
	  border-radius: 50%;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 7.5vh;
	padding: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	position: relative;
	margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 0 6px 10px 1px rgba(64, 64, 64, .09);
	font-weight: bold;
}

.info-cart-product {
	display: flex;
	justify-content: center;
	flex: 0.8;
	height: 5vh;
}

.titulo-producto-carrito {
	text-align: center;
}

.cantidad-producto-carrito {
	text-align: center;
	justify-content: space-between;
	display: flex;
  	flex-direction: column;
}

.precio-producto-carrito {
	display: flex;
  	align-items: center;
}

.icon-close {
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	height: 7.5vh;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 6px 10px 1px rgba(64, 64, 64, .09);
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.hidden {
	display: none;
}