.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #004040;
    box-sizing: border-box;
    padding: 0.25em 8%;
}

.logo {
    width: 12em;
    cursor: pointer;
    transition: 0.3s;
}
.logo:hover {
    scale: 1.1;
}

.search-box {
    width: 40%;
    display: flex;
    align-items: center;
    background: #D9D9D9;
    box-sizing: border-box;
    padding: 1em 1em;
    border-radius: 0.6em;
    margin-top: 1em;
    margin-bottom: 1em;
    max-height: 2.2em;
}
.search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #004040;
    font-size: 0.8em;
    font-weight: normal;
}
.search-box input::placeholder {
    color: #5C7A89;
}

.search-icon {
    cursor: pointer;
}

.input-text {
    width: 100%;
}

.cart-icon {
    width: 1.75em;
    cursor: pointer;
    transition: 0.3s;
}
.cart-icon:hover {
    scale: 1.2;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16em;
}

.mobile-menu-icon {
    width: 2.5em;
    cursor: pointer;
    transition: 0.3s;
}

.logo-responsive {
    display: none;
}

.header-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #004040;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0em;
    box-sizing: border-box;
    transition: all 0.4s ease;
}

@media (min-width: 768px) {
    .mobile-menu-icon {
        display: none;
    }
}

@media (max-width: 767px) {
    .header {
        transition: all 0.4s ease;
    }
    .logo {
        width: 12em;
    }
    .mobile-menu-icon {
        display: block;
    }
    .search-box {
        width: 85%;
        max-height: 3em;
    }
    .search-box input {
        font-size: 1em;
    }
    .search-icon {
        width: 2em;
    }
    .button-wrapper {
        flex-direction: column;
        gap: 1em;
        margin-top: 1.5em;
    }
    .cart-icon {
        width: 2.5em;
    }
    .logo-container-fullscreen {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 0em 2em;
        box-sizing: border-box;
        flex-direction: row;
    }
    .logo-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
}
