.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #004040;
    box-sizing: border-box;
    padding: 0.25em 8%;
}

.logo {
    width: 12em;
    cursor: pointer;
    transition: 0.3s;
}
.logo:hover {
    scale: 1.1;
}

.search-box {
    width: 40%;
    display: flex;
    align-items: center;
    background: #D9D9D9;
    box-sizing: border-box;
    padding: 1em 1em;
    border-radius: 0.6em;
    margin-top: 1em;
    margin-bottom: 1em;
    max-height: 2.2em;
}
.search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #004040;
    font-size: 0.8em;
    font-weight: normal;
}
.search-box input::placeholder {
    color: #5C7A89;
}

.search-icon {
    cursor: pointer;
}

.input-text {
    width: 100%;
}

.cart-icon {
    width: 1.75em;
    cursor: pointer;
    transition: 0.3s;
}
.cart-icon:hover {
    scale: 1.2;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16em;
}
