.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #004040;
    box-sizing: border-box;
    padding: 0.25em 8%;
}

.logo {
    width: 12em;
    cursor: pointer;
    transition: 0.3s;
}
.logo:hover {
    scale: 1.1;
}

.cart-btn{
	margin: 0 1vh;
	align-items: center;
    justify-content: space-between;
	text-align: center;
}

  
.search-box {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
    box-sizing: border-box;
    padding: 1em 1em;
    border-radius: 0.6em;
    margin-top: 1em;
    margin-bottom: 1em;
    max-height: 2.2em;
}

.search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #004040;
    font-size: 0.8em;
    font-weight: normal;
}
.search-box input::placeholder {
    color: #5C7A89;
}

.search-icon {
    cursor: pointer;
}

.input-text {
    width: 100%;
}

.cart-icon {
    width: 1.75em;
    cursor: pointer;
    transition: 0.3s;
}
.cart-icon:hover {
    scale: 1.2;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 21em;
    gap: 1em;
}

.mobile-menu-icon {
    width: 2.5em;
    cursor: pointer;
    transition: 0.3s;
}

.logo-responsive {
    display: none;
}

.header-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #004040;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0em;
    box-sizing: border-box;
    transition: all 0.4s ease;
}

@media (min-width: 1025px) {
    .mobile-menu-icon {
        display: none;
    }
}

@media (max-width: 1024px) {
    .header {
        transition: all 0.4s ease;
    }
    .logo {
        width: 12em;
    }
    .mobile-menu-icon {
        display: block;
    }
    .search-box {
        width: 85%;
        max-height: 3em;
    }
    .search-box input {
        font-size: 1em;
    }
    .search-icon {
        width: 2em;
    }
    .button-wrapper {
        flex-direction: column;
        gap: 1em;
        margin-top: 1.5em;
    }
    .cart-icon {
        width: 2.5em;
    }
    .logo-container-fullscreen {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 0em 2em;
        box-sizing: border-box;
        flex-direction: row;
    }
    .logo-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
}

@media (min-width: 1025px) and (max-width: 1250px) {
    .header {
        padding: 0.25em 2em;
    }
}

@media screen and (min-height: 1600px) {

    .logo {
        width: 30em;
    }
    .search-box {
        max-height: 6em;
        border-radius: 1em;
    }
    .search-box input {
        font-size: 2em;
    }
    .search-icon {
        width: 4em;
    }
    .cart-icon {
        width: 5em;
    }
    .button-wrapper {
        width: 60em;
    }
    
}

.icon-cart {
	width: 40px;
	height: 40px;
	stroke: #D9D9D9;
    color: #D9D9D9;
}

.icon-cart:hover {
	cursor: pointer;
}

.container-icon {
	position: relative;
}

.count-products {
	position: absolute;
	top: 55%;
	right: 0;

	background-color: #002D2D;
	color: #D9D9D9;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 12px;
}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.container-cart-products .buy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
	display: flex;
	justify-content: space-between;
	
  }

.cart-img {
	width: 3.5em;
  	height: 3.5em;
	border-radius: 50%;
    object-fit: cover;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
    gap: 0.5em;
	padding: 0.5em;
	border-bottom: 1px solid #002D2D;
	background-color: #D9D9D9;
    font-weight: 600;
    font-size: 1em;
    height: 4em;
    cursor: pointer;
}
.cart-product:last-of-type {
    border-bottom: none;
}

.info-cart-product {
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100%;
    height: 100%;
}

.info-cart-product span, .titulo-producto-carrito {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow-wrap: anywhere;
}

.cantidad-producto-carrito {
	text-align: center;
	justify-content: space-between;
	display: flex;
  	flex-direction: column;
}

.precio-producto-carrito {
	display: flex;
  	align-items: center;
}

.icon-close {
	width: 5em;
	height: 5em;
    cursor: pointer;
    transition: 0.3s;
}

.icon-close:hover {
	stroke: red;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	height: 7.5vh;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 6px 10px 1px rgba(64, 64, 64, .09);
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.hidden {
	display: none;
}

.container-search {
    position: absolute;
    top: 3.1em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #D9D9D9;
    width: 100%;
    max-height: 25em;
    z-index: 1;
    border-radius: 10px;
    overflow-y: auto;
}

.container-search::-webkit-scrollbar {
    width: 8px;
}

.container-search::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.container-search::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.container-search::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}
.menu-perfil {
    position: relative;
  }
  
.menu-contenedor {
    position: absolute;
    right: 0;
    background-color: #FFF;
    border: 1px solid #004040;
    border-radius: 0.5em;
    padding: 0.5em;
    box-sizing: border-box;
    z-index: 999; /* Asegura que el menú esté encima de otros elementos */
    width: 10em;
    text-align: center;
}

.menu-contenedor-herramientas {
    position: absolute;
    right: 0;
    top: 5vh;
    background-color: #FFF;
    border: 1px solid #004040;
    border-radius: 0.5em;
    padding: 0.5em;
    box-sizing: border-box;
    z-index: 999; /* Asegura que el menú esté encima de otros elementos */
    width: 10em;
    text-align: center;
}

.menu-opcion {
    color: black;
    padding: 8px;
    cursor: pointer;
}

.menu-opcion:hover {
    background-color: #eee;
}

.menu-cerrar-sesion {
    color: red;
}


