.product {
    background: #D9D9D9;
    display: flex;
    flex-direction: column;
    width: 14em;
    height: 17em;
    border-radius: 0.8em;
    cursor: pointer;
    transition: 0.3s;
}
.product:hover {
    background: #E0EEC6;
    scale: 1.05;
}

.product img {
    width: 100%;
    height: 12.5em;
    border-radius: 0.8em 0.8em 0em 0em;
}

.product-description {
    box-sizing: border-box;
    padding: 0em 0.8em;
}

.product p {
    margin: 0;
    font-weight: 700;
    font-size: 1.3em;
    color: #004040;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    text-align: right;
}

@media (min-width: 1850px) {
    .product {
        width: 16em;
        height: 18em;
    }
    .product img {
        height: 13em;
    }
}

@media (max-width: 1450px) {
    .product {
        width: 12em;
        height: 14em;
        border-radius: 0.8em;
    }
    .product img {
        height: 10em;
        border-radius: 0.8em 0.8em 0em 0em;
    }
    .product-description {
        padding: 0em 0.8em;
    }
    .product p {
        font-size: 1.2em;
    }
}

@media (max-width: 1280px) {
    .product {
        width: 11em;
        height: 13em;
        border-radius: 0.5em;
    }
    .product img {
        height: 9.5em;
        border-radius: 0.5em 0.5em 0em 0em;
    }
    .product-description {
        padding: 0em 0.8em;
    }
    .product p {
        font-size: 1em;
    }
}

@media (max-width: 1080px) {
    .product {
        width: 8em;
        height: 10em;
        border-radius: 0.5em;
    }
    .product img {
        height: 6.5em;
        border-radius: 0.5em 0.5em 0em 0em;
    }
    .product-description {
        padding: 0em 0.5em;
    }
    .product p {
        font-size: 0.8em;
    }
    .price {
        font-size: 0.8em;
    }
}
