.product {
    background: #D9D9D9;
    display: flex;
    flex-direction: column;
    width: 14em;
    height: 17em;
    border-radius: 0.8em;
    cursor: pointer;
    transition: 0.3s;
}
.product:hover {
    background: #E0EEC6;
    scale: 1.05;
}

.product img {
    width: 100%;
    height: 12.5em;
    border-radius: 0.8em 0.8em 0em 0em;
    object-fit: cover;
}

.product-prd-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .product-prd-container .product-icon-cart {
    color: #004040;
    font-size: 1.2em;
    transition: all 0.3s ease;
  }
  
  .product-prd-container .product-icon-cart:hover {
    color: #002D2D;
    font-size: 1.5em;
  }

.product-description {
    box-sizing: border-box;
    padding: 0em 0.8em;
}

.product p {
    margin: 0;
    font-weight: 700;
    font-size: 1.3em;
    color: #004040;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    text-align: right;
}

@media screen and (max-width: 1024px) {
    .product {
        width: 10em;
        height: 12em;
        border-radius: 0.5em;
    }
    .product img {
        height: 8.75em;
        border-radius: 0.5em 0.5em 0em 0em;
    }
    .product-description {
        padding: 0em 0.5em;
    }
    .product p {
        font-size: 0.8em;
    }
    .price {
        font-size: 0.8em;
    }
}

@media screen and (min-height: 1600px) {
    .product {
        width: 35em;
        height: 40em;
        border-radius: 1.5em;
    }
    .product img {
        height: 30em;
        border-radius: 1.5em 1.5em 0em 0em;
    }
    .product-description {
        padding: 0em 2em;
    }
    .product p {
        font-size: 3em;
    }
    .price {
        font-size: 3em;
    }
}
